* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62, 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario {
  display: flex;

  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 400px;
  background-color: #f5500a;
  font-size: 1rem;

  color: white;
}

.formulario div {
  padding: 10px;
}

.navbar-ligh {
  background-color: #199988;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
}

.header {
  color: white;
  background-color: #199988;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
}

.Logo {
  font-family: "Lobster";
  text-decoration: none;

  color: white;
}

.footer .Logo {
  color: #8C8C8C  ;
  font-size: 5rem;
}

.navegacion li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
  font-size: 1.2rem;
}

.navegacion {
  text-decoration: none;
  color: #ffffff;
}

.main {
  background-color: white;
  font-size: 1.2rem;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main_img {
  grid-area: main_img;
}
.form-control {
  border-radius: 0rem;
}

.form-select {
  border-radius: 0rem;
}
.contacto {
  padding: 15px;
}

.Hablenos {
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.Separador {
  background-color: #f5500a;
  font-size: 3rem;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.padding {
padding: 50px;
}


.Separador p {
  font-size: 1rem;
}

.main__titulo {
  grid-area: main__titulo;
  padding: 50px;
  /*
  animation-name: aparecer;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 


  background-image: linear-gradient(to left, red , yellow)
 justify-content: space-between;
*/
}

.main__parrafo {
  padding: 10px;
}

.footer {
  background-color: #434343;

  font-size: 1.5rem;
  color: #8C8C8C  ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 

 

  padding: 100px;
}

.Video {
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Video_youtube {
  grid-area: Video_youtube;

  flex-direction: column;
  width: 100%;
  height: 450px;
}

.Tabla {
  grid-area: Tabla;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Boostrap 
$blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
*/

.primary {
  color: #fff;
  background-color: #199988;
  border-color: #199988;
}

.dark {
  color: #fff;
  background-color: #434343;
}

.darkI {
  color: #434343 !important;
  background-color: #fff;
}

.warning {
  color: #fff;
  background-color: #f5500a;
}

.img-thumbnail {
  border-radius: 50%;
  height: 5%;
  width: 5%;
}

.intel {
  background-image: url("assets/img/");
}


.navbar-toggler {
  color: #fff;
  background-color: #f5500a;

}

.btn-primary {
  color: #fff;
  background-color: #199988;
  border-color: #199988;
}

.border-primary {
  border-color: #199988;
}

.btn-outline-primary {
  color: #199988;
  background-color: #fff;
  border-color: #199988;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #199988;
  border-color: #199988;
}

.rounded-3 {
  border-radius: 0rem !important;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0rem;
}

/* Header */

.nav-link {
  color: #fff;
}

/* parallax */

.parallax {
  background-image: url("assets/img/Background.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* box modeling */
  padding: 50px 30px;
  margin-bottom: 50px;
}

.parallax h4 {
  font-size: 4rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 20px; /*aplicando padding-top*/
  margin-top: 50px; /*aplicando margin-top*/
}
.parallax p {
  font-size: 2.5rem;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  padding: 10px; /*esta forma le aplica valor al top, bottom, right and left*/
}

th,
td {
  border: 1px solid;

  text-align: left;
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main {
    flex-wrap: wrap;
  }

  .footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}


/*.header__productos{
  background-color: #023047;
  padding: 15px;
}

.header__productos ul{
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center; 
}

.header__productos li{
  display: inline-block;
  color: #ffff;
  padding: 15px;
}


.main__productos{
  background-color: #8ECAE6;
  padding: 35px;
}

.main__productos h1{
  text-align: center;
}


.footer__productos{
  background-color: #FB8500;
  padding: 15px;
}


@media screen and (max-width: 768px){
  .header__productos{
      background-color: violet;
  }

  .header__productos ul{
      flex-direction: row;
  } 

  .main__productos{
      background-color: lightcoral;
  }

}


@media screen and (min-width:1200px){
  .header__productos{
      background-color: antiquewhite;
  }

  .header__productos li{
      color: black;
  }

  .main__productos h1{
      text-align: left;
      font-size: 25px;
  }

  .footer__productos{
      background-color: aqua;
  }
} 

@media screen and (max-width: 500px){
  .header__productos{
      background-color: aqua;
  }

  .header__productos ul{
      flex-direction: column;
      align-items: center;
  }

  .footer__productos{
      background-color: brown;
  }
}
*/
