.Hablenos {
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}



.contacto {
    --bs-gutter-x: 1rem;

}